@media screen and (max-width: 320px) {
  .overall-text-company p{
    font-size: 0.5em;
  }
  .overall-text-title p{
    font-size: 1em;
  }
  .overall-text-content p{
    font-size: 1em;
  }
  .overall-section-wrapper{
    background-image: url(overall_image_sp.png);
    background-size: cover;
  }
  .service-category-section p{
    font-size: 0.3em;
  }
  .service-name-section p{
    font-size: 0.8em;
  }
  .service-description-section p{
    font-size: 0.3em;
  }
}
