// Standard Tablet
@media screen and (min-width: 321px) and (max-width: 768px) {
  .overall-text-company p{
    font-size: 1em;
  }
  .overall-text-title p{
    font-size: 1.6em;
  }
  .overall-text-content p{
    font-size: 1em;
  }
  .overall-section-wrapper{
    background-image: url(overall_image_tb.png);
    background-size: cover;
  }
  .service-category-section p{
    font-size: 0.8em;
  }
  .service-name-section p{
    font-size: 1.5em;
  }
  .service-description-section p{
    font-size: 0.6em;
  }
}
// For Ipad Pro
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #navbar a{
    font-size: 1.2em;
  }
  .overall-text-company p{
    font-size: 2em;
  }
  .overall-text-title p{
    font-size: 3.2em;
  }
  .overall-text-content p{
    font-size: 2em;
  }
  .overall-section-wrapper{
    background-image: url(overall_image_tb.png);
    background-size: cover;
  }
  .service-category-section p{
    font-size: 1.8em;
  }
  .service-name-section p{
    font-size: 3em;
  }
  .service-description-section p{
    font-size: 1.2em;
  }
}
