// Standard Smart Phone
@media screen and (min-width: 320px) and (max-width: 414px) {
  // Overall Section
  .overall-text-company p{
    font-size: 0.5em;
  }
  .overall-text-title p{
    font-size: 1em;
  }
  .overall-text-content p{
    font-size: 1em;
  }
  .overall-section-wrapper{
    background-image: url(overall_image_sp.png);
    background-size: cover;
  }
  // Service Section
  .service-category-section p{
    font-size: 0.3em;
  }
  .service-name-section p{
    font-size: 0.8em;
  }
  .service-description-section p{
    font-size: 0.3em;
  }
  // Slider Button
  .fp-controlArrow.fp-prev {
    border-width: 16.5px 17px 16.5px 0px;
  }
  .fp-controlArrow.fp-next {
    border-width: 16.5px 0 16.5px 17px;
  }
  // Team Section
  .team-text-wrapper{
    height: 10%;
  }
  .team-text-block p{
    font-size: 1.2em;
  }
  .team-introduction-wrapper{
    flex-direction: column;
    justify-content: center;
  }
  .team-introduction-block{
    height: 110px;
    width: 90px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .team-introduction-block-last{
    height: 110px;
    width: 90px;
  }
  .team-image-block{
    height: 100%;
    width: 100%;
  }
  .team-text-block{
    height: 0%;
    width: 100%;
  }
  .team-text-name{
    height: 0%;
    width: 0%;
    border-bottom: none;
  }
  .team-text-name p{
    font-size: 0;
  }
  .team-text-content{
    height: 0%;
    width: 0%;
  }
  .team-text-content{
    font-size: 0;
  }
  // Contact Section
  .contact-content-wrapper{
    height: 100%;
  }
  .contact-text-block{
    height: 45%;
  }
  .contact-empty-block{
    height: 10%;
  }
  .contact-map-block{
    height: 45%;
  }
  .contact-text-title p{
    font-size: 2em;
  }
  .contact-text-description p{
    font-size: 1.2em;
  }
  .contact-email-button{
    width: 100px;
    height: 28px;
    font-size: 0.7em;
  }
}
// Iphone 5/6/7/8 Horizontal Screen
@media screen and (min-width: 568px) and (max-width: 667px) {
  .contact-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-text-block{
    height: 100%;
    width: 45%;
  }
  .contact-text-description p{
    font-size: 1em;
  }
  .contact-empty-block{
    height: 100%;
    width: 5%;
  }
  .contact-map-block{
    height: 100%;
    width: 45%;
  }
}
// For Iphone X Horizontal Screen
@media screen and (min-width: 769px) and (max-width: 812px) {
  // Fullpage Slide Button
  .fp-controlArrow.fp-prev{
    margin-top: 0px;
    border-width: 16.5px 17px 16.5px 0px;
  }
  .fp-controlArrow.fp-next{
    margin-top: 0px;
    border-width: 16.5px 0 16.5px 17px;
  }
  // Overall Section
  .overall-text-company p{
    font-size: 1em;
  }
  .overall-text-title p{
    font-size: 2em;
  }
  .overall-text-content p{
    font-size: 1em;
  }
  .overall-section-wrapper{
    background-image: url(overall_image_pc.png);
    background-size: cover;
  }
  // Service Section
  .service-category-section p{
    font-size: 0.6em;
  }
  .service-name-section p{
    font-size: 1.5em;
  }
  .service-description-section p{
    font-size: 0.5em;
  }
  // Team Section
  // Contact Section
  .contact-content-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-text-block{
    height: 100%;
    width: 45%;
  }
  .contact-text-description p{
    font-size: 1em;
  }
  .contact-empty-block{
    height: 100%;
    width: 5%;
  }
  .contact-map-block{
    height: 100%;
    width: 45%;
  }
}
