<div class="overall-wrapper">
    <div class="text-wrapper">
      <div class="text-block">
        <h2 class="text-title">Lorem ipsum</h2>
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="image-wrapper">
    </div>
</div>
