<div id="fullpage">
  <div class="section intro-container">intro section</div>
  <div class="section service-container">service section</div>
  <div class="section team-container">team section</div>
  <div class="section contact-container">contact section</div>
</div>

<script>
  new fullpage('#fullpage', {
  	//options here
  	autoScrolling:true,
  	scrollHorizontally: true
  });

  //methods
  fullpage_api.setAllowScrolling(true);
</script>
