<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .email_form_wrapper{

      }

      .email_form_header{

      }

      .email_form_body{

      }

      .email_form_footer{

      }
    </style>
  </head>
  <body>
    <div class="email_form_wrapper">
      <div class="email_form_header">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="email_form_body">
        <img src="" alt="">
      </div>
      <div class="email_form_footer">
        <button type="button" name="button"></button>
      </div>
    </div>
  </body>
</html>
