<table>
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
     <%@data.each do |d| %>
        <tr>
            <td>
                <%=d.winNum%>
            </td>
        </tr>
    <%end%>
    </tbody>
</table>