.overall-container{
  position: relative;
  display: flex;
  height: 100%;
  max-width: 100%;
  margin-bottom: 24px;
  color: #171718;
}
.overall-wrapper{

}
.overall-wrapper h2{
  font-size: 2em;
  margin-top: 20px;
}
.overall-wrapper p{
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}
.overall-text-wrapper{
  display: flex;
  width: 40%;
  padding-left: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overall-text-block{
  -webkit-box-direction: normal;
}
.overall-text-title{
  margin-bottom: 16px;
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 700;
}
.overall-text-content{
  max-width: 500px;
  flex: 1;
  font-size: 0.6em;
  line-height: 1;
  font-weight: 400;
}
.overall-image-wrapper{
  display: flex;
  width: 65%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.overall-background{
  position: relative;
  width: 100%;
  height: auto;
}
.ovserall-background .switch{
  visibility: hidden;
}
