		<section id="sky" data-type="background" data-speed="0.5">
			<article>
        <%= image_tag "balloon.png" %>
      </article>
		</section>
<script>
  $(document).ready(function(){
    var wd = $(window);
    $('section[data-type="background"]').each(function(){
      var bg =$(this);
      $(window).scroll(function(){
        var yPos = -(wd.scrollTop()/bg.data('speed'));
        var coords = '50%' + yPos + 'px';
        bg.css({backgroundPosition:coords});
      });
    });
  });
</script>
