<div class="index_wrapper">
  <div class="text_column">
    <div class="text_block">
      <h2 class="text_header">"Beyond the Dream"</h2>
      <p class="text_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<p>
    </div>
  </div>
  <div class="image_column">

  </div>
</div>
