<div class="contact-content-wrapper">
  <div class="contact-email-container" >
    <div class="contact-header-block">
      <p>Contact Us</p>
    </div>
    <div class="contact-text-block">
      <p>회사주소 쓰는 공간</p>
      <p>파트너쉽, 회사에 대한 문의가 있으면 언제든 연락달라는 멘트</p>
    </div>
    <div class="contact-button-block">
      <button type="button" name="button" class="contact-email-button">SEND E-MAIL</button>
    </div>
  </div>
  <div class="contact-map-container">
    <div id="map_view" style="width:500px; height:300px;"></div>
  </div>
</div>
