<div class="overall-container">
  <div class="overall-wrapper">
      <div class="overall-text-wrapper">
        <div class="overall-text-block">
          <h2 class="overall-text-title">Lorem ipsum</h2>
          <p class="overall-text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="overall-image-wrapper">
      </div>
  </div>
  <div class="overall-background">
    <%= image_tag '/images/test_img_sp.jpg', class: "switch", style: {visibility: "visible"} %>
  </div>
</div>
