<div id= "main-header" class="header">
  <div class="header-container">
    <div class="logo">
      <a href="/" class="link--home">
      </a>
    </div>
    <div class="drawer" style="opacity:1;">
      <div class="navigation-container">
        <%= link_to 'Home', root_path%>
        <%= link_to 'Service', homes_service_path%>
        <%#= link_to 'Team', homes_team_path%>
        <%#= link_to 'Press', homes_press_path%>
        <%= link_to 'Contact', homes_contact_path%>
      </div>
      <div class="tool-container">
      </div>
    </div>
  </div>
</div>
