<div class="overall-section-wrapper">
  <div class="overall-content-wrapper">
    <div class="overall-content-section">
      <div class="field">
        <%= form.label :content %>
        <%= tinymce :language => "en" %>
        <%= form.text_area :content, id: :post_content, class: "form-control tinymce", rows: "10"%>
    </div>
  </div>
  <div class="overall-empty-wrapper">
  </div>
</div>
