/*Index Page */
#navbar-fanthe-logo{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.progress-wrapper{
  margin-left: 2em;
}
.text-block-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.text-rate-block{
  width: 20%;
}
.text-empty-block{
  width: 40%;
}
.text-count-block{
  width: 40%;
}
#footer-email-address{
  margin-left: 15px;
}
.site-footer{
  padding-top: 25px;
}
/*Sign in Page */
#signin-card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#signin-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-signin-block{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kakao-signin{
  margin-right: 1.5em;
}
.line-signin{
  margin-right: 1.5em;
}
.twitter-signin{
  margin-right: 1.5em;
}
.weibo-signin{
  margin-right: 1.5em;
}
.google-signin{
}
/*Sing Up Page  */
#signup-card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#signup-card-block{
  margin: 15px;
  padding: 20px 20px;
}
.social-signup-block{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#social-signup-title{
  margin-left: 20px;
}
/*Policy Page*/
#policy-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*Profile Page*/
#profile-social-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile-button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#address-search-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
#address-search-button{
  margin-top: 13px;
}
#detailed-address{
  margin-bottom: -20px;
}
#password-confirm-title{
  margin-bottom: 5px;
}
/*Profile My Precious Page*/
#check-period-block{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}
.check-period-title{
 margin-bottom: 0;
}
#date-search-wrapper{
 padding-right: 0;
 padding-left: 12px;
}
#date-search-block .form-control{
 height: 36px;
 margin-top: 8px;    
}
#detailed-check-block{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 0;
 padding-left: 12px;
}
#date-end-element{
 margin-bottom: -20px;
}
.search-result-title{
 margin-top: 10px;
 margin-bottom: 5px;
}
#user-info-block{
 padding-top: 10px;
 padding-bottom: 10px;
}
/*Password Recovery Page*/
#password-send-button{
 text-align: right;
}
/*Password Reset Page*/
#password-form-wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#password-button-block{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}
/*Profile My Fanlog Page*/
#check-period-block #small-button-fanlog{
 margin-right: 2px;
 height: 36px;
 width: 45px;
 font-size: 10px;
 padding: 0;    
}
/*Profile My Address Page*/
#address-list-wrapper{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;    
}
#address-list-block{
 border-style: dashed;
}
.address-empty-block{
 width: 100%;
 height: 62.82px;
}
.address-button-block{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;    
}
#address-add-button{
 margin-right: 0;
}
#address-add-block{
 width: 100%;
 margin-left: 0;
 margin-bottom: 0;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;    
}
.address-data-block{
 height: 80%;
 overflow: hidden;
 padding-bottom: 20px;    
}
.address-function-block{
 height: 20%;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}
.address-list-li{
 list-style: none;
}
.address-list-ul{
 padding-left: 0;
}
#address-list-card{
 padding-right: 0;
 padding-left: 15px;
 padding-bottom: 10px;
}
.address-list-div{
 width:100%;
 height: 22px;
 overflow: hidden;   
}
.address-function-button{
 text-decoration: none;
 margin-right: 12px;
}
/*Account Delete Page*/
#account-delete-button{
 text-align: right;
}