<!--Nav Section  -->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Experience</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Award</a>
  </li>
</ul>
<!--Main Section-->
<div class="portfolio-container">
  <div class="information-section">
    <h1>Information</h1>
  </div>
  <div class="experience-section">
    <h1>Experience</h1>
  </div>
  <div class="education-section">
    <h1>Education</h1>
  </div>
  <div class="skill-section">
    <h1>Skills</h1>
  </div>
  <div class="award-section">
    <h1>Award&Certification</h1>
  </div>
</div>
